<div class="app-content">
  <md-card>
    <md-card-title>Notice!</md-card-title>
    This website is still under development. However the energy monitor is accessible via the side nav or via the button down below.
    <div style="margin-top: 10px;">
      <a md-raised-button routerLink="/em" routerLinkActive="active" color="primary">
        <md-icon>lightbulb_outline</md-icon>
        <label>Energy Montior</label>
      </a>
    </div>
  </md-card>
  <md-tab-group>
    <md-tab label="Files">
      <md-card class="card" *ngFor="let file of files">
        <md-card-title>{{file}}</md-card-title>
        <md-card-actions>
          <button md-raised-button>Download</button>
        </md-card-actions>
      </md-card>
    </md-tab>
    <md-tab label="Apps">
      <md-card class="card" *ngFor="let app of apps">
        <md-card-title>{{app}}</md-card-title>
        <md-card-actions>
          <button md-raised-button>Download</button>
        </md-card-actions>
      </md-card>
    </md-tab>
  </md-tab-group>
</div>