<div fxLayout="row" fxLayoutAlign="center center" class="container">
    <md-card>
        <md-card-title>Login</md-card-title>
        <div>
            <md-input-container>
                <input #name mdInput placeholder="Username">
            </md-input-container>
        </div>
        <md-input-container>
            <input #pass mdInput type="password" placeholder="Password">
        </md-input-container>
        <div fxLayout="column" fxLayoutAlign="center">
            <div *ngIf="loginError" class="loginError">
                <label>{{loginError}}</label>
            </div>
            <button md-button (click)="onLoginButtonClick(name.value,pass.value)">
            <md-icon>lock_open</md-icon>
            <label>login</label>
        </button>
        </div>
    </md-card>
</div>