<div class="app-content">
  <mat-tab-group dynamicHeight="true">
    <mat-tab label="Files">
      <mat-card class="card" *ngFor="let file of files">
        <mat-card-title>{{file}}</mat-card-title>
        <mat-card-actions>
          <button mat-raised-button>Download</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
    <mat-tab label="Apps">
      <mat-card class="card" *ngFor="let app of apps">
        <mat-card-title>{{app}}</mat-card-title>
        <mat-card-actions>
          <button mat-raised-button>Download</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
