<mat-tab-group dynamicHeight="true">
  <mat-tab label="Users" *ngIf="userRights > 1">
    <div id="tab_content">
      <h3>Admins</h3>
      <mat-card *ngFor="let admin of admins">
        <div fxLayout="row" fxLayoutAlign="start center">
          <label fxFlex="130px" fxFlex.xs="50%">{{admin.username}}</label>
          <div fxLayout.xs="column" fxLayoutAlign.xs fxLayoutGap.xs="10px" fxFlex.xs="50%">
            <button mat-raised-button id="rowItem" color="primary" (click)="openEditUserDialog(admin.username)">
              <mat-icon>edit</mat-icon>
              <label id="buttonLabel">Edit</label>
            </button>
            <button mat-raised-button color="warn" id="rowItem" (click)="deleteUser(admin.username)">
              <mat-icon>delete</mat-icon>
              <label id="buttonLabel">Delete</label>
            </button>
          </div>
        </div>
      </mat-card>
      <h3>Users</h3>
      <mat-card *ngFor="let user of users">
        <div fxLayout="row" fxLayoutAlign="start center">
          <label fxFlex="130px" fxFlex.xs="50%">{{user.username}}</label>
          <div fxLayout.xs="column" fxLayoutGap.xs="10px" fxFlex.xs="50%">
            <button mat-raised-button id="rowItem" color="primary" (click)="openEditUserDialog(user.username)">
              <mat-icon>edit</mat-icon>
              <label id="buttonLabel">Edit</label>
            </button>
            <button mat-raised-button color="warn" id="rowItem" (click)="deleteUser(user.username)">
              <mat-icon>delete</mat-icon>
              <label id="buttonLabel">Delete</label>
            </button>
          </div>
        </div>
      </mat-card>
      <h3>Viewers</h3>
      <mat-card *ngFor="let viewer of viewers">
        <div fxLayout="row" fxLayoutAlign="start center">
          <label fxFlex="130px" fxFlex.xs="50%">{{viewer.username}}</label>
          <div fxLayout.xs="column" fxLayoutGap.xs="10px" fxFlex.xs="50%">
            <button mat-raised-button id="rowItem" color="primary" (click)="openEditUserDialog(viewer.username)">
              <mat-icon>edit</mat-icon>
              <label id="buttonLabel">Edit</label>
            </button>
            <button mat-raised-button color="warn" id="rowItem" (click)="deleteUser(viewer.username)">
              <mat-icon>delete</mat-icon>
              <label id="buttonLabel">Delete</label>
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Pending users" *ngIf="userRights > 1">
    <div *ngIf="pending.length == 0" class="emptyContainer" fxLayout="column" fxLayoutAlign="center center"
         fxLayoutGap="10px">
      <mat-icon class="emptyIcon">error</mat-icon>
      <label>There is nothing here</label>
    </div>
    <div id="tab_content">
      <mat-card *ngFor="let pending of pending">
        <div fxLayout="row" fxLayoutAlign="start center">
          <label fxFlex="130px" fxFlex.xs="50%">{{pending.username}}</label>
          <div fxLayout.xs="column" fxLayoutGap.xs="10px" fxFlex.xs="50%">
            <mat-select id="rowItem" placeholder="User rights" [(ngModel)]="pending.role">
              <mat-option *ngFor="let right of rights" [value]="right.userValue"> {{right.userReadValue}}</mat-option>
            </mat-select>
            <!--Phone button-->
            <button fxHide fxShow.xs mat-raised-button id="rowItem" color="primary"
                    (click)="acceptUser(pending.username,pending.role)">
              <mat-icon>check</mat-icon>
              <label id="buttonLabel">Accept</label>
            </button>
            <!--Desktop button-->
            <button mat-icon-button fxHide.xs color="primary" id="rowItem"
                    (click)="acceptUser(pending.username,pending.role)" matTooltip="Accept User">
              <mat-icon>check</mat-icon>
            </button>
            <!--Phone button-->
            <button fxHide fxShow.xs mat-raised-button color="warn" id="rowItem" (click)="declineUser(pending.username)">
              <mat-icon>clear</mat-icon>
              <label id="buttonLabel">Decline</label>
            </button>
            <!--Desktop button-->
            <button mat-icon-button fxHide.xs color="warn" id="rowItem" (click)="declineUser(pending.username)"
                    matTooltip="Decline User">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
