<!--sidenav menu-->
<md-sidenav-container style="height: 100vh">
  <md-sidenav #sidenav mode="push" class="app-sidenav" color="primary">
    <md-nav-list>
      <!--'absorb' first button highlight-->
      <a md-button style="height: 0; position: absolute;">
      </a>
      <!--Home button-->
      <a md-list-item class="navItem" routerLink="/home" routerLinkActive="active" (click)="sidenav.close()">
        <md-icon>home</md-icon>
        <label class="navDes">Home</label>
      </a>
      <!--Energie monitor button-->
      <md-divider></md-divider>
      <a md-list-item class="navItem" routerLink="/em" routerLinkActive="active" (click)="sidenav.close()">
        <md-icon>lightbulb_outline</md-icon>
        <label class="navDes">Energy Monitor</label>
      </a>
      <!--Downloads button-->
      <a md-list-item class="navItem" routerLink="/downloads" routerLinkActive="active" (click)="sidenav.close()">
        <md-icon>file_download</md-icon>
        <label class="navDes">Downloads</label>
      </a>
      <!--ControlPanel button-->
      <a md-list-item class="navItem" routerLink="/controlPanel" routerLinkActive="active" (click)="sidenav.close()">
        <md-icon>settings_applications</md-icon>
        <label class="navDes">Control Panel</label>

      </a>
    </md-nav-list>
  </md-sidenav>

  <!--toolbar-->
  <div *ngIf="nav.visible">
    <md-toolbar color="primary">
      <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
      <label class="navDes">{{route}}</label>
    </md-toolbar>
  </div>

  <router-outlet></router-outlet>
