<!--sidenav menu-->
<mat-sidenav-container style="height: 100vh">
  <mat-sidenav #sidenav mode="push" class="app-sidenav" color="primary">
    <mat-nav-list>
      <!--'absorb' first button highlight-->
      <a mat-button style="height: 0; position: absolute;">
      </a>
      <!--Home button-->
      <a mat-list-item class="navItem" routerLink="/home" routerLinkActive="active" (click)="sidenav.close()">
        <mat-icon>home</mat-icon>
        <label class="navDes">Home</label>
      </a>
      <!--Energie monitor button-->
      <mat-divider></mat-divider>
      <a mat-list-item class="navItem" routerLink="/em" routerLinkActive="active" (click)="sidenav.close()">
        <mat-icon>lightbulb_outline</mat-icon>
        <label class="navDes">Energy Monitor</label>
      </a>
      <!--Downloads button-->
      <a mat-list-item class="navItem" routerLink="/downloads" routerLinkActive="active" (click)="sidenav.close()">
        <mat-icon>file_download</mat-icon>
        <label class="navDes">Downloads</label>
      </a>
      <!--ControlPanel button-->
      <a mat-list-item class="navItem" routerLink="/controlPanel" routerLinkActive="active" (click)="sidenav.close()">
        <mat-icon>settings_applications</mat-icon>
        <label class="navDes">Control Panel</label>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!--toolbar-->
  <div *ngIf="nav.visible">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
      <label class="navDes">{{route}}</label>
    </mat-toolbar>
  </div>

  <router-outlet></router-outlet>
