<body>
  <mat-card-title>Create account</mat-card-title>
  <p>When you create a account you will be placed in the pending user's queue. The administrator has to validate your application
    before you can login.</p>
  <div fxLayout="column">
    <mat-input-container>
      <input #username matInput placeholder="Username">
    </mat-input-container>
    <mat-input-container>
      <input #passw matInput type="password" placeholder="Password">
    </mat-input-container>
    <mat-input-container>
      <input #passwRepeat matInput type="password" placeholder="Repeat password" (keyup.enter)="sendRequest(username.value,passw.value,passwRepeat.value)">
      <mat-hint style="color: red;">{{errorMsg}}</mat-hint>
    </mat-input-container>
    <button mat-raised-button color="accent" (click)="sendRequest(username.value,passw.value,passwRepeat.value)">
      <mat-icon>create</mat-icon>
      <label>Create</label>
    </button>
  </div>
</body>