<div fxLayout="column" fxLayoutAlign=" center" class="container" fxHide.xs fxShow.gt-xs>
  <div fxFlex="27%" style="padding:15px"></div>
  <mat-card class="card">
    <mat-icon color="primary" id="logo">account_circle</mat-icon>
    <mat-card-title class="title">Sign in</mat-card-title>
    <div>
      <mat-input-container>
        <input #name1 matInput placeholder="Username">
      </mat-input-container>
    </div>
    <mat-input-container>
      <input (keyup.enter)="onLoginButtonClick(name1.value.trim(),pass1.value)" #pass1 matInput type="password"
             placeholder="Password">
      <mat-hint style="color: red;">{{loginError}}</mat-hint>
    </mat-input-container>
    <div fxLayout="row" style="margin-top: 25px;">
      <div fxFlex>
        <button mat-button [matMenuTriggerFor]="menu" color="accent">More options</button>
        <mat-menu #menu>
          <button mat-menu-item (click)="openCreateDialog()">Create account</button>
          <button mat-menu-item (click)="openAboutDialog()">About</button>
        </mat-menu>
      </div>
      <div>
        <button #loginButton mat-raised-button color="accent"
                (click)="onLoginButtonClick(name1.value.trim(),pass1.value)">
          <mat-icon>lock_open</mat-icon>
          <label><b>NEXT</b></label>
        </button>
      </div>
    </div>
  </mat-card>
  <div fxFlex="25%"></div>
</div>
<div fxShow.xs fxHide.gt-xs class="xsContainer" fxLayout.xs="column" fxLayoutAlign.xs>
  <div class="xsCard">
    <mat-icon color="primary" id="logo">account_circle</mat-icon>
    <mat-card-title class="title">Sign in</mat-card-title>
    <div>
      <mat-input-container>
        <input #name matInput placeholder="Username">
      </mat-input-container>
    </div>
    <mat-input-container>
      <input (keyup.enter)="onLoginButtonClick(name.value.trim(),pass.value)" #pass matInput type="password"
             placeholder="Password">
      <mat-hint style="color: red;">{{loginError}}</mat-hint>
    </mat-input-container>
    <div fxLayout="row" style="margin-top: 25px;">
      <div fxFlex>
        <button mat-button [matMenuTriggerFor]="menu" color="accent">More options</button>
        <mat-menu #menu>
          <button mat-menu-item (click)="openCreateDialog()">Create account</button>
          <button mat-menu-item (click)="openAboutDialog()">About</button>
        </mat-menu>
      </div>
      <div>
        <button #loginButton mat-raised-button color="accent" (click)="onLoginButtonClick(name.value.trim(),pass.value)">
          <mat-icon>lock_open</mat-icon>
          <label><b>NEXT</b></label>
        </button>
      </div>
    </div>
  </div>
</div>
